<div class="p-4">
    <div class="container section section-content">
        <section class="pt-5">
            <h1 class="text-center">Engage Network</h1>
            <h2 class="text-center pt-2">Privacy Policy</h2>
        </section>
        <section class="pt-5">
            <div class="keyline keyline-top-all"></div>
        </section>
        <section class="pt-5">
            <p class="text-center fs-5">Engage’s Privacy Policy describes how Engage collects, uses, and shares your personal data.</p>
            <p class="text-center pt-3 fs-5">Please take a moment to familiarize yourself with our privacy practices, accessible below, and <a routerLink="/contact">contact us</a> if you have any questions.</p>
            
            
        </section>
    </div>
</div>