.keyline.keyline-top-all {
    border-top: 1px solid #d2d2d7;
}

.section-content {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

.accordion-wrapper .accordion-item {
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    list-style-type: none;
    border-top: 1px solid #d2d2d7;
}