<h1>Accounts</h1>
<p class="mb-4">All accounts saved to the secure API database are listed below</p>
<a routerLink="add" class="btn btn-sm btn-success mb-3">Create Account</a>
<table class="table table-bordered table-hover">
	<thead class="thead-dark">
		<tr>
			<th style="width: 30%">Name</th>
			<th style="width: 30%">Email</th>
			<th style="width: 25%">Role</th>
			<th style="width: 15%">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let account of accounts">
			<td><a routerLink="/profile/viewprofile/{{account.id}}">{{account.firstName}} {{account.lastName}}</a></td>
			<td><a href="mailto:{{account.email}}">{{account.email}}</a></td>
			<td>{{account.role}}</td>
			<td style="white-space: nowrap">
				<a routerLink="details/{{account.id}}" class="btn btn-sm btn-primary mr-1">Details</a>
				<a routerLink="edit/{{account.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
				<button (click)="deleteAccount(account.id)" class="btn btn-sm btn-danger btn-delete-account" [disabled]="account.isDeleting">
					<span *ngIf="account.isDeleting" class="spinner-border spinner-border-sm"></span>
					<span *ngIf="!account.isDeleting">Delete</span>
				</button>
			</td>
		</tr>
		<tr *ngIf="!accounts">
			<td colspan="4">
				<div class="m-4 text-center">
					<div class="stage">
						<div class="dot-flashing align-center"></div>	
					</div>
					<p class="mt-4">Contacting API Endpoint</p>
				</div>
			</td>
		</tr>
	</tbody>
</table>
