<h1 class="pt-5 center-text">About Us</h1>
<p class="pt-1 center-text">Engage is a youth-founded and youth-led organization. Our mission is to connect students in need of help with volunteer tutors, in an easy to use and easy to understand way.</p>

<h2 class="pt-4 center-text">Executive Profiles</h2>
<div class="row center-spacing justify-content-center mt-2">
	<div class="profile-card">
		<div class="profile-card-content">
			<h3 class="profile-card-title">Michael Wang</h3>
			<p class="profile-card-body">Director of Software Engineering and Cloud Services</p>
			<a class="profile-card-button">Learn More</a>
		</div>
	</div>
	<div class="profile-card">
		<div class="profile-card-content">
			<h3 class="profile-card-title">Gerry Chen</h3>
			<p class="profile-card-body">Director of Finance and Organizational Operations</p>
			<a class="profile-card-button">Learn More</a>
		</div>
	</div>
</div>