<h1 class="pt-5 center-text">About Us</h1>
<p class="pt-1 center-text">Engage Network was started with the goal of connecting prospective students with vetted tutors in high-school through university, via our in-house online software. The co-founders recognized the void of free education enrichment for students with aspirations restricted by finances, and similarly the lack of volunteer opportunities for high school students as a result of the COVID-19 pandemic, and aimed to find a solution.</p>

<h2 class="pt-4 center-text">Executive Profiles</h2>
<div class="row center-spacing justify-content-center my-2">
	<div class="profile-card" style="background-image: url(/assets/images/exec-profile-michael-wang.png);">
		<div class="profile-card-content">
			<h3 class="profile-card-title">Michael Wang</h3>
			<p class="profile-card-body">Director of Software Engineering and Cloud Services</p>
			<a class="profile-card-button" routerLink="leadership/michael-wang">Learn More</a>
		</div>
	</div>
	<div class="profile-card" style="background-image: url(/assets/images/exec-profile-gerry-chen.png);">
		<div class="profile-card-content">
			<h3 class="profile-card-title">Gerry Chen</h3>
			<p class="profile-card-body">Director of Finance and Organizational Operations</p>
			<a class="profile-card-button" routerLink="leadership/gerry-chen">Learn More</a>
		</div>
	</div>
</div>

<h2 class="pt-5 center-text">Contact Us</h2>
<div class="row justify-content-center my-2">
	<p class="center-text">Please feel free to reach out to us at <a href="mailto:support@engageapp.net">support@engageapp.net</a> with any questions, comments, or concerns. Personal inquiries can be directed to business emails listed in each of the executive profiles.</p>
	<p class="center-text">You can also keep up with everything new on Engage on our social media accounts.</p>
</div>
<div class="row social-links mx-auto pt-2">
	<div class="link-container">
		<a class="follow-msg" href="https://twitter.com/EngageNet" target="_blank" rel="noopener noreferrer"><span data-feather="twitter" width="75" height="75" stroke="black"></span></a>
		<span class="link-tooltip">Follow Engage Network on Twitter, opens in a new tab</span>
	</div>
	<div class="link-container">
		<a class="follow-msg" href="https://instagram.com/engage.network" target="_blank" rel="noopener noreferrer"><span data-feather="instagram" width="75" height="75" stroke="black"></span></a>
		<span class="link-tooltip">Follow Engage Network on Instagram, opens in a new tab</span>
	</div>
	<div class="link-container">
		<a class="follow-msg" href="https://www.youtube.com/channel/UCZfr4JVUMK4WskiTzI6xrZw" target="_blank" rel="noopener noreferrer"><span data-feather="youtube" width="75" height="75" stroke="black"></span></a>
		<span class="link-tooltip">Follow Engage Network on YouTube, opens in a new tab</span>
	</div>
</div>