<h1 class="pt-5 center-text">About Us</h1>
<p class="pt-1 center-text">Engage Network was started with the goal of connecting prospective students with vetted tutors in high-school through university, via our in-house online software. The co-founders recognized the void of free education enrichment for students with aspirations restricted by finances, and similarly the lack of volunteer opportunities for high school students as a result of the COVID-19 pandemic, and aimed to find a solution.</p>

<h2 class="pt-4 center-text">Executive Profiles</h2>
<div class="row center-spacing justify-content-center mt-2">
	<div class="profile-card">
		<div class="profile-card-content">
			<h3 class="profile-card-title">Michael Wang</h3>
			<p class="profile-card-body">Director of Software Engineering and Cloud Services</p>
			<a class="profile-card-button" routerLink="leadership/michael-wang">Learn More</a>
		</div>
	</div>
	<div class="profile-card">
		<div class="profile-card-content">
			<h3 class="profile-card-title">Gerry Chen</h3>
			<p class="profile-card-body">Director of Finance and Organizational Operations</p>
			<a class="profile-card-button" routerLink="leadership/gerry-chen">Learn More</a>
		</div>
	</div>
</div>

<p class="pt-5 center-text">Please feel free to reach out to us at <a href="mailto:support@engageapp.net">support@engageapp.net</a> with any questions, comments, or concerns. Personal inquiries can be directed to business emails listed in each of the executive profiles.</p>