<div class="page-layout container">
	<div class="idea-columns">
		<div class="row">
			<div class="col-lg-4">		
				<h2>Virtual Smart Tutor</h2>
				<p>Create a digital learning tool to help children learn the basics of a subject. The system must work without a parent or guardian actively guiding the learning. An parent or guardian should be able to open the app and leave it with a child with no worries.</p>
				<p>Specifics: Any approved platform is allowed. Additionally, this is the task that would likely benefit the most from being a virtual reality application.</p>
			</div>
			<div class="col-lg-4">
				<h2>Multi-User Whiteboard</h2>
				<p>Create a digital whiteboard that can be synced across multiple internet-connected clients, to provide an easy way for students and teachers to connect. The app should be accessible from at least two different devices across a local network and sync with as minimal delay as possible.</p>
				<p>Specifics: Web applications are preferred and are likely easier to create an app for. However any approved platform is allowed.</p>
			</div>
			<div class="col-lg-4">
				<h2>Assignment Tracker</h2>
				<p>Create a digital assignment tracker with a place to input an overview, details, due dates, or set reminders. A required feature for this specific project is an assignment reminder system, that hooks into the OS-level APIs to deliver alerts, for example, as a push notification to a users smart phone or tablet.</p>
				<p>Specifics: Building the assignment tracker as a native mobile app is highly recommended as alert integration at the OS-level is easier and in the real world, people would likely benefit from this app being on their phone. However any approved platform is allowed.</p>
			</div>
		</div>
	</div>
	
	<hr class="idea-column-divider">

	<div class="application-requirements">
		<strong class="mb-2 fs-4">Submissions can only be written as one of the following:</strong>
		<ul>
			<li>
				<strong class="fs-6">Web Application</strong>
				<p class="fs-6 mb-1">Any web application tech stack is permitted (e.g. MEAN, MERN). Any frontend framework is permitted, but <a href="https://angular.io/">Angular</a> or <a href="https://reactjs.org/">ReactJS</a> is recommended for developers familiar with one of those frameworks. This is not at all a requirement and will not count against or towards any submissions.</p>
			</li>
			<li>
				<strong class="fs-6">Native Mobile Application</strong>
				<p class="fs-6 mb-1">Mobile apps written for the iOS or Android mobile operating systems are permitted. We recommend that iOS developers use <a href="https://developer.apple.com/swift/">Swift</a> and Android developers use <a href="https://developer.android.com/docs">Java or Kotlin</a>.</p>
			</li>
			<li>
				<strong class="fs-6">Native Desktop Application</strong>
				<p class="fs-6 mb-1">Desktop applications written for Windows, MacOS, or Linux are permitted. All submissions must be compiled for the x86 or x64 binaries. Unfortunately, we cannot accept apps compiled for ARM at this time. All desktop frameworks are permitted (e.g. <a href="https://docs.microsoft.com/en-us/dotnet/desktop/wpf/?view=netdesktop-5.0">WPF</a>, <a href="https://docs.microsoft.com/en-us/windows/uwp/">UWP</a>, <a href="https://developer.apple.com/swift/">Swift</a>, <a href="https://www.qt.io/">Qt</a>, <a href="https://www.electronjs.org/">Electron JS</a>).</p>
			</li>
			<li>
				<strong class="fs-6">Virtual Reality Application</strong>
				<p class="fs-6 mb-1">Virtual reality applications submitted must be compatible with <a href="https://www.steamvr.com/en/">SteamVR and SteamVR headsets</a> and run on Windows. 64-bit (x64) applications are preferred. 32-bit (x86) applications are permitted. Unfortunately, we cannot accept apps compiled for ARM at this time.</p>
			</li>
		</ul>
	</div>
</div>