<div class="section-hero">
	<div class="image-hero" style="background-image: url(/assets/images/exec-profile-gerry-chen.png);">
		<div class="titles">
			<h1 class="titles-name">Gerry Chen</h1>
			<h2 class="titles-role">Director of Finance and Organizational Operations</h2>
		</div>
	</div>
</div>
<div class="section-bio">
	<div class="mobile-name-title">
		<h1 class="titles-name">Gerry Chen</h1>
		<h2 class="titles-role">Director of Finance and Organizational Operations</h2>
	</div>
	<div class="person-details">
		<div class="bio-left-column">
			<p>Gerry Chen is one of the Co-Founders and the Director of Finance and Organizational Operations at Engage Network.</p>
			<p>Gerry is in charge of managing Engage's finances and obtaining various grants and sponsorships. He is also in charge of managing staff who work for Engage.</p>
			<p>Gerry works on Engage Network whenever possible while attending the International Baccalaureate programme at Port Moody Secondary School.</p>
		</div>
		<div class="bio-right-column">
			<p>Prior to joining Engage Network, Gerry participated and worked extensively in both the Royal Canadian Air Cadet program and the Duke of Edinburgh’s Program before co-founding this new initiative, continuing his prior engagements.</p>
			<p>In his free time, Gerry enjoys spending time with his friends playing games, biking, and occasionally, in flight simulator.</p>
			<p>Business Email: <a href="mailto:gerrychen@engageapp.net">gerrychen@engageapp.net</a></p>
		</div>
	</div>
</div>