<div class="section-hero">
	<div class="image-hero">
		<div class="titles">
			<h1 class="titles-name">Gerry Chen</h1>
			<h2 class="titles-role">Director of Finance and Organizational Operations</h2>
		</div>
	</div>
</div>
<div class="section-bio">
	<div class="mobile-name-title">
		<h1 class="titles-name">Gerry Chen</h1>
		<h2 class="titles-role">Director of Finance and Organizational Operations</h2>
	</div>
	<div class="person-details">
		<div class="bio-left-column">
			<p>Gerry Chen is one of the Co-Founders and the Director of Finance and Organizational Operations at Engage Network.</p>
		</div>
		<div class="bio-right-column">
			<p>Gerry works on Engage Network whenever possible while attending the International Baccalaureate programme at Port Moody Secondary School.</p>
		</div>
	</div>
</div>