.main-content-area {
	width: 90%;
	margin: 0 auto;
}

.keyline.keyline-top-all {
	border-top: 1px solid #d2d2d7;
}

.messages {
	height: 70vh;
	overflow: auto;
}

.message-item {
	clear: both;
	list-style: none;
}

.small-role-text {
	font-size: 15px;
}

.inputArea {
	width: 93%;
	resize: none;
	padding: 10px;
	line-height: 1.5;
	border-radius: 10px;
	border: 1px solid #000;
}

.sendBtnSpacer {
	width: 2%;
	display:inline
}

.sendMessageBtn {
	width: 5%;
	border-radius: 10px;
}