<div class="app-container d-flex flex-column h-100">
  <!-- Main Navbar -->
  <div id="main-navbar" class="px-5 py-3 d-flex flex-column w-100 text-center text-white bg-dark">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Engage Network</h3>
        <!-- Logged In -->
        <nav *ngIf="account" class="nav nav-masthead justify-content-center navbar-expand-lg float-md-end">
          <a *ngIf="account.role === Role.Admin" routerLink="/admin/home" routerLinkActive="active" class="nav-item nav-link px-3">Home</a>
          <a *ngIf="account.role === Role.Tutor" routerLink="/tutor/home" routerLinkActive="active" class="nav-item nav-link px-3">Home</a>
          <a *ngIf="account.role === Role.Student" routerLink="/student/home" routerLinkActive="active" class="nav-item nav-link px-3">Home</a>
          <a *ngIf="account.role === Role.Admin" routerLink="/admin/manage" routerLinkActive="active" class="nav-item nav-link px-3">Admin</a>
          <a *ngIf="account.role === Role.Admin" routerLink="/tutor/listings" routerLinkActive="active" class="nav-item nav-link px-3">My Listings</a>
          <a *ngIf="account.role === Role.Tutor" routerLink="/tutor/listings" routerLinkActive="active" class="nav-item nav-link px-3">My Listings</a>
          <a *ngIf="account.role === Role.Admin" routerLink="/student/positions" routerLinkActive="active" class="nav-item nav-link px-3">My Positions</a>
          <a *ngIf="account.role === Role.Student" routerLink="/student/positions" routerLinkActive="active" class="nav-item nav-link px-3">My Positions</a>
          <a routerLink="/about" routerLinkActive="active" class="nav-item nav-link px-3">About Us</a>
          <!-- User Dropdown Menu -->
          <div class="ms-4 d-inline-block" ngbDropdown #myDrop="ngbDropdown">
            <a class="nav-item nav-link" id="userDropdown" tabindex="0" ngbDropdownToggle role="button">{{account.firstName}} {{account.lastName}}</a>
            <div ngbDropdownMenu aria-labelledby="userDropdown">
              <button ngbDropdownItem routerLink="/profile">Profile</button>
              <button ngbDropdownItem (click)="logout()">Logout</button>
            </div>
          </div>
        </nav>

        <!-- Not Logged In -->
        <nav *ngIf="!account" class="nav nav-masthead justify-content-center float-md-end">
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item nav-link px-3">Home</a>
          <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item nav-link px-3">About Us</a>
          <a routerLink="/account/register" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item nav-link px-3">Register</a>
          <a routerLink="/account/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item nav-link px-3">Login</a>
        </nav>
      </div>
    </header>
  </div>

  <!-- Subnav Router Outlet -->
  <router-outlet name="subnav"></router-outlet>

  <!-- Global Alerts -->
  <alert></alert>

  <!-- Main Router Outlet -->
  <router-outlet></router-outlet>

  <!-- Webpage Footer -->
  <footer id="global-footer" class="mt-auto mb-1">
    <div class="global-footer-content">
      <div class="footer-legal">
        <div class="footer-legal-copyright">
          Copyright © 2021 Engage Network Organization. All rights reserved.
        </div>
        <div class="footer-legal-links">
          <a class="footer-legal-link" routerLink="/legal/privacy/cookies" routerLinkActive="active" >Use of Cookies</a>
          <a class="footer-legal-link" routerLink="/legal/terms" routerLinkActive="active" >Terms of Service</a>
          <a class="footer-legal-link" routerLink="/legal" routerLinkActive="active" >Legal</a>
          <a class="footer-legal-link" routerLink="/sitemap" routerLinkActive="active" >Sitemap</a>
        </div>
      </div>
    </div>
  </footer>  
</div>
