<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a routerLink="/tutor/home">Home</a></li>
		<li class="breadcrumb-item"><a routerLink="/tutor/listings">My Listings</a></li>
		<li class="breadcrumb-item active" aria-current="page">Listing Details</li>
	</ol>
</nav>
<!-- Breadcrumb -->

<!-- Header -->
<h1>Session Details</h1>

<!-- Main Body -->
<div class="card mb-3 mt-5">
	<div *ngIf="!!listing" class="card-body">
		<div class="row">
			<div class="col-sm-3">
				<h6 class="mb-0">Student Name</h6>
			</div>
			<div class="col-sm-9 text-secondary">
				<a *ngIf="!!listing.registered" routerLink="/profile/viewprofile/{{listing.registered}}">{{listing.registeredDetails.firstName}} {{listing.registeredDetails.lastName}}</a>
				<a *ngIf="!listing.registered">N/A</a>
				<a *ngIf="!!listing.registered" class="ms-5 btn btn-sm btn-outline-primary float-right" href="/message/{{listing.registered}}">Message</a>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-3">
				<h6 class="mb-0">Subject</h6>
			</div>
			<div class="col-sm-9 text-secondary">
				{{listing.subject}}
			</div>
		</div>
		<hr>
		<div *ngIf="!!listing.details">
			<div class="row">
				<div class="col-sm-3">
					<h6 class="mb-0">Details</h6>
				</div>
				<div class="col-sm-9 text-secondary">
					{{listing.details}}
				</div>
			</div>
			<hr>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<h6 class="mb-0">Start of Time Range</h6>
			</div>
			<div class="col-sm-9 text-secondary">
				{{listing.startDateTime}}
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-3">
				<h6 class="mb-0">End of Time Range</h6>
			</div>
			<div class="col-sm-9 text-secondary">
				{{listing.endDateTime}}
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-3">
				<h6 class="mb-0">Session Finalized</h6>
			</div>
			<div class="col-sm-9 text-secondary">
				{{listing.updatedAt}}
			</div>
		</div>
		<div class="pt-4">
			<a routerLink="../../" class="btn btn-sm btn-secondary float-right">Back</a>
		</div>
	</div>
	<!-- Displayed When Details Don't Exist (During Loading & When API Server is Offline) -->
	<div *ngIf="!listing" class="card-body">
		<div class="mt-5 mb-4 text-center">
			<div class="stage">
				<div class="dot-flashing align-center"></div>	
			</div>
			<p class="mt-4">Loading session details</p>
			<a routerLink="../../" class="btn btn-sm btn-secondary">Back</a>
		</div>
	</div>
</div>