<h1>Create New Listing</h1>
<form [formGroup]="createListingForm" (ngSubmit)="onSubmit()" class="mat-typography">
	<div class="form-row pt-2">
		<mat-form-field appearance="outline">
			<mat-label>Subject</mat-label>
			<mat-select formControlName="subject">
				<mat-option value="Math">Math</mat-option>
				<mat-option value="Science">Science</mat-option>
				<mat-option value="SocialStudies">Social Studies</mat-option>
				<mat-option value="LanguageArts">Language Arts</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

	<div class="form-row pt-3">
		<div class="form-group">
			<h3 class="text-center">Start of Time Range</h3>
			<dl-date-time-picker startView="day" maxView="year" minView="minute" minuteStep="5" formControlName="startDateTime"></dl-date-time-picker>
		</div>
		<div class="form-group ms-5">
			<h3 class="text-center">End of Time Range</h3>
			<dl-date-time-picker startView="day" maxView="year" minView="minute" minuteStep="5" formControlName="endDateTime"></dl-date-time-picker>
		</div>
	</div>
		
	<div class="form-row pt-3">
		<div class="form-group">
			<button [disabled]="loading" class="btn btn-primary">
				<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
				Create Listing
			</button>
			<a routerLink="../" class="btn btn-link">Cancel</a>
		</div>
	</div>
</form>
