<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/user">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/user/listings">My Listings</a></li>
    <li class="breadcrumb-item active" aria-current="page">Listing Details</li>
  </ol>
</nav>
<!-- /Breadcrumb -->

<h1>Listing Details</h1>
<div class="card mb-3 mt-5">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-3">
        <h6 class="mb-0">Task</h6>
      </div>
      <div class="col-sm-9 text-secondary">
        {{listing.task}}
      </div>
    </div>
    <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Details</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          {{listing.details}}
        </div>
    </div>
  </div>
</div>


