<div class="section-hero">
	<div class="image-hero" style="background-image: url(/assets/images/exec-profile-michael-wang.png);">
		<div class="titles">
			<h1 class="titles-name">Michael Wang</h1>
			<h2 class="titles-role">Director of Software Engineering and Cloud Services</h2>
		</div>
	</div>
</div>
<div class="section-bio">
	<div class="mobile-name-title">
		<h1 class="titles-name">Michael Wang</h1>
		<h2 class="titles-role">Director of Software Engineering and Cloud Services</h2>
	</div>
	<div class="person-details">
		<div class="bio-left-column">
			<p>Michael Wang is one of the Co-Founders and the Director of Software Engineering and Cloud Services at Engage Network.</p>
			<p>Michael is in charge of and has carried out the development of Engage Network. He also manages the cloud systems and infrastructure deployment and management for Engage.</p>
			<p>Michael works on Engage Network every second that he has available, alongside attending the International Baccalaureate programme at Sir Winston Churchill Secondary School.</p>
		</div>
		<div class="bio-right-column">
			<p>Prior to starting Engage Network, Michael has worked on a variety of both software and hardware projects on his own time.</p>
			<p>Michael has an interest in the newest technologies and aviation. He enjoys spending time in flight simulators and discussing the latest technological advancements with his friends.</p>
			<p>Business Email: <a href="mailto:michaelwang@engageapp.net">michaelwang@engageapp.net</a></p>
		</div>
	</div>
</div>