<div class="section-hero">
	<div class="image-hero">
		<div class="titles">
			<h1 class="titles-name">Michael Wang</h1>
			<h2 class="titles-role">Director of Software Engineering and Cloud Services</h2>
		</div>
	</div>
</div>
<div class="section-bio">
	<div class="mobile-name-title">
		<h1 class="titles-name">Michael Wang</h1>
		<h2 class="titles-role">Director of Software Engineering and Cloud Services</h2>
	</div>
	<div class="person-details">
		<div class="bio-left-column">
			<p>Michael Wang is one of the Co-Founders and the Director of Software Engineering and Cloud Services at Engage Network.</p>
			<p>Prior to starting Engage Network, Michael has worked on a variety of both software and hardware projects on his own time.</p>
		</div>
		<div class="bio-right-column">
			<p>Michael works on Engage Network every second that he has available, alongside attending the International Baccalaureate programme at Sir Winston Churchill Secondary School.</p>
		</div>
	</div>
</div>