<!-- <div id="local" #localVideo>
	<p>local video</p>
</div>

<div id="remote" #remoteVideo>
	<p>remote video</p>
</div> -->

<div class="video-container">
	<video-main-participant></video-main-participant>
	<video-participant-list></video-participant-list>
</div>

<div class="control-group-container">
	<div class="control-group">
		<button mat-flat-button (click)="toggleAudio()" class="action-button mic-button">
			<mat-icon *ngIf="audioActive == false" class="mat-btn-icon">mic</mat-icon>
			<p *ngIf="audioActive == false" class="mat-btn-text">Unmute</p>
			
			<mat-icon *ngIf="audioActive == true" class="mat-btn-icon">mic_off</mat-icon>
			<p *ngIf="audioActive == true" class="mat-btn-text">Mute</p>
		</button>
		
		<button mat-flat-button (click)="toggleVideo()" class="action-button video-button">
			<mat-icon *ngIf="videoActive == false" class="mat-btn-icon">videocam</mat-icon>
			<p *ngIf="videoActive == false" class="mat-btn-text">Start Video</p>
			
			<mat-icon *ngIf="videoActive == true" class="mat-btn-icon">videocam_off</mat-icon>
			<p *ngIf="videoActive == true" class="mat-btn-text">Stop Video</p>
		</button>
		
		<button mat-flat-button (click)="toggleScreenShare()" class="action-button screen-share-button">
			<mat-icon *ngIf="isSharingScreen == false" class="mat-btn-icon">screen_share</mat-icon>
			<p *ngIf="isSharingScreen == false" class="mat-btn-text">Share Screen</p>
			
			<mat-icon *ngIf="isSharingScreen == true" class="mat-btn-icon">stop_screen_share</mat-icon>
			<p *ngIf="isSharingScreen == true" class="mat-btn-text">Stop Sharing</p>
		</button>
		
		<button mat-flat-button color="warn" (click)="disconnectFromMeeting()" class="action-button disconnect-button">
			<mat-icon class="mat-btn-icon">call_end</mat-icon>
			Disconnect
		</button>
	</div>
</div>