/* Video Container */
.video-container {
	background: gray; // TESTING
	position: relative;
	height: calc(100vh - 119px);
	display: grid;
	grid-template-columns: 1fr 16vw;
	grid-template-rows: 100%;
	z-index: 9;
}

.main-participant {
	// background-color: orange;
}

.participant-list {
	// background-color: green;
}

/* Control Group */
.control-group-container {
	position: absolute;
	bottom: 50px;
	left: calc(50vw - 732px / 2);
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
	min-height: 50px;
	height: fit-content;
	z-index: 10;
}

@media screen and (max-width: 965px) {
	.control-group-container {
		bottom: 75px;
	}
}

.control-group {
	position: relative;
	background: white;
	width: fit-content;
	padding: 0.8rem 3rem;
	border-radius: 1rem;
}

.action-button {
	display: inline;
}

.control-group .mic-button {
	min-width: 115px;
}

.control-group .video-button {
	min-width: 135px;
}

.control-group .screen-share-button {
	min-width: 150px;
}

.control-group .disconnect-button {
	min-width: 140px;
}

.mat-btn-icon {
	display: inline;
	vertical-align: top;
	font-size: 1.25em;
	margin-right: 15px;
}

.mat-btn-text {
	display: inline;
}

.control-group .action-button {
	margin-right: 2rem;
}

.control-group .action-button:last-child {
	margin-right: 0;
}