<div>
    <div class="section-content header-text text-center">
        <h1>Engage Legal</h1>
        <p>Find legal information pertaining to the Engage Network.</p>
    </div>
    <div class="section-content">
        <div class="d-flex top-padding bottom-padding">
            <div class="column ms-5">
                <img src="/assets/icons/TermsOfServiceIcon.png" width="75px" height="75px">
                <h2 class="section-title">Terms of Service</h2>
                <p>Any and all use of the Engage Network is covered by these Terms of Service. </p>
                <a routerLink="/legal/terms">Read the Terms of Service</a>
            </div>
            <div class="column me-5 offset-middle">
                <img src="/assets/icons/CookiesPolicyIcon.png" width="75px" height="75px">
                <h2 class="section-title">Use of Cookies</h2>
                <p>We use cookies across our site to perform a variety of system-critical tasks, as well as improve the user experience. We don't share your data with any third-parties. </p>
                <a routerLink="/legal/privacy/cookies">Read about our Use of Cookies</a>
            </div>
        </div>
    </div>
    <div class="section-content section-keyline "></div>
</div>