<div class="p-4">
    <div class="container section-content">
        <section class="pt-5">
            <h1 class="text-center">Engage Network Web Application</h1>
            <h2 class="text-center pt-2">Use of Cookies</h2>
        </section>
        <section class="pt-5">
            <div class="keyline keyline-top-all"></div>
        </section>
        <section class="pt-5">
            <p class="pt-1">Engage’s websites and online services may require the use of “cookies”. Cookies enable you to login to your Engage Network account and personalize your experience on our sites.</p>
            <p class="pt-1">If you wish to disable cookies, please consult the applicable documentation for your specific web browser.</p>
            <p class="pt-1">Because cookies are used throughout our websites, and are critical in the function of certain components, disabling them may prevent you from using certain parts of the websites.</p>
            <p class="pt-1">The cookies used on our websites have been categorized based on the guidelines found in the ICC UK Cookie guide. We use the following categories of cookies on our websites and other online services:</p>

            <h6 class="pt-2">Category 1 - Strictly Necessary Cookies</h6>
            <p class="pt-1">These cookies are essential to enable you browse our websites and use their features. Without these cookies, services like account authentication and website personalization cannot be provided.</p>

            <h6 class="pt-2">Category 2 - Performance Cookies</h6>
            <p class="pt-1">These cookies collect information about how you use our websites - for example, which pages on our website you visit the most. This data may be used to help optimize our websites and make them easier for you to navigate. These cookies don’t collect information that identifies you. All information these cookies collect is aggregated and therefore remains anonymous.</p>

            <h6 class="pt-2">Category 3 - Functionality Cookies</h6>
            <p class="pt-1">These cookies allow our websites to remember certain choices that you make while browsing the website. For example, we may store your geographic location in a cookie to ensure that our website displays the appropriate information based on your area. We may also remember certain preferences such as text size, and other customizable site elements. The information that these cookies collect will not personally identify you, and they cannot track your browsing activity on non-Engage websites.</p>
        </section>
    </div>
</div>
  