<div class="main-body mt-5">	
	<div class="row gutters-sm">
		<div class="col-md-4 mb-3">
			<div class="card h-100">
				<div class="card-body">
					<div class="d-flex flex-column align-items-center text-center">
						<!-- <img src="" alt="Admin" class="rounded-circle" width="150"> Avatar Placeholder -->
						<div class="mt-3">
							<h4>{{account.firstName}} {{account.lastName}}</h4>
							<p class="text-secondary mb-1">{{account.role}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="row gutters-sm">
				<div class="col-sm-6 mb-3"> <!-- *ngIf="account.role == Role.Tutor" -->
					<div class="card h-100">
						<div class="card-body">
							<h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Content Rating</h6>
							<div class="mb-2">
								<small>Overall</small>
								<mat-progress-bar mode="determinate" value="{{account.overallContentRating}}"></mat-progress-bar>
							</div>
							<div class="mb-2">
								<small>Mathematics</small>
								<mat-progress-bar mode="determinate" value="{{account.mathContentRating}}"></mat-progress-bar>
							</div>
							<div class="mb-2"><small>Science</small>
								<mat-progress-bar mode="determinate" value="{{account.scienceContentRating}}"></mat-progress-bar>
							</div>
							<div class="mb-2">
								<small>Social Studies</small>
								<mat-progress-bar mode="determinate" value="{{account.socialStudiesContentRating}}"></mat-progress-bar>
							</div>
							<div class="mb-2">
								<small>Language Arts</small>
								<mat-progress-bar mode="determinate" value="{{account.languageArtsContentRating}}"></mat-progress-bar>
							</div>
							<div class="mb-2">
								<small>Foreign Language Acquisition</small>
								<mat-progress-bar mode="determinate" value="{{account.foreignLanguageAcquisitionContentRating}}"></mat-progress-bar>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 mb-3">
					<div class="card h-100">
						<div class="card-body">
							<h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Behaviour Rating</h6>
							<div class="mb-2">
								<small>Overall</small>
								<mat-progress-bar mode="determinate" value="{{account.behaviourRating}}"></mat-progress-bar>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>