<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/user">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">My Listings</li>
  </ol>
</nav>
<!-- /Breadcrumb -->

<h1>Your Listings</h1>
<p>All of your posted listings are shown below</p>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Create New Listing</a>
<table class="table table-bordered table-hover">
  <thead class="">
    <tr>
      <th style="width: 35%">Date/Time Range</th>
      <th style="width: 30%">Registered Student</th>
      <th style="width: 20%">Subject</th>
      <th style="width: 15%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let listing of listings">
      <td><h6>{{listing.startDateTime}}</h6> to <h6>{{listing.endDateTime}}</h6></td>
      <td>{{listing.registered}}</td>
      <td>{{listing.subject}}</td>
      <td style="white-space: nowrap">
        <a routerLink="details/{{listing.id}}" class="btn btn-sm btn-primary mr-1">Details</a>
        <a routerLink="edit/{{listing.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
        <button (click)="deleteListing(listing.id)" class="btn btn-sm btn-danger" [disabled]="listing.isDeleting">
          <span *ngIf="listing.isDeleting" class="spinner-border spinner-border-sm"></span>
          <span *ngIf="!listing.isDeleting">Delete</span>
        </button>
      </td>
    </tr>
    <tr *ngIf="!listings">
      <td colspan="4" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
  </tbody>
</table>
