<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a routerLink="/tutor/home">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Active Listings</li>
	</ol>
</nav>
<!-- /Breadcrumb -->

<h1>Active Listings</h1>
<p class="big-info-text">All of your active listings are shown below</p>
<p class="fw-light small-linker-text">Looking for your past sessions? Click <a routerLink="history">here</a> to view them.</p>
<a routerLink="add" class="btn btn-sm btn-primary mb-3">Create New Listing</a>
<table class="table table-hover">
	<thead id="table-header" class="thead-dark">
		<tr>
			<th style="width: 45%">Date/Time Range</th>
			<th style="width: 25%">Registered Student</th>
			<th style="width: 15%">Subject</th>
			<th style="width: 15%">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let listing of listings">
			<td><h6 style="display:inline">{{listing.startDateTime}}</h6> to <h6 style="display:inline">{{listing.endDateTime}}</h6></td>
			<td><a *ngIf="!!listing.registered" routerLink="/profile/viewprofile/{{listing.registered}}">{{listing.registeredDetails.firstName}} {{listing.registeredDetails.lastName}}</a></td>
			<td><p *ngIf="listing.subject !== 'Foreign Language Acquisition'">{{listing.subject}}</p><p *ngIf="listing.subject === 'Foreign Language Acquisition'" style="display:inline">FLA</p><p *ngIf="!!listing.details" style="display:inline"> ({{listing.details}})</p></td>
			<td style="white-space: nowrap">
				<a *ngIf="!!listing.markedCompletedStudent && !!listing.markedCompletedTutor" routerLink="details/{{listing._id}}" class="btn btn-sm btn-success mr-1 finish-text">Complete Session</a>
				<div *ngIf="!listing.markedCompletedStudent || !listing.markedCompletedTutor">
					<a routerLink="details/{{listing._id}}" class="btn btn-sm btn-primary mr-1">Details</a>
					<a routerLink="edit/{{listing._id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
					<button (click)="deleteListing(listing._id)" class="btn btn-sm btn-danger" [disabled]="listing.isDeleting || !!listing.registered">
						<span *ngIf="listing.isDeleting" class="spinner-border spinner-border-sm"></span>
						<span *ngIf="!listing.isDeleting">Delete</span>
					</button>
				</div>
			</td>
		</tr>
		<tr *ngIf="!listings">
			<td colspan="4" class="text-center">
				<span class="spinner-border spinner-border-lg align-center"></span>
			</td>
		</tr>
	</tbody>
</table>
