.tiny-info {
	font-size: 14px;
}

// Approved Subjects Block
#approved-subjects .approved-subject-item {
	display: inline;
	border-right: 1px solid #d2d2d7;
	margin-left: 6px;
	margin-right: 7px;
	margin-bottom: 0px;
	padding-right: 10px;
	display: inline-block;
	white-space: nowrap;
}

#approved-subjects .approved-subject-item:last-child {
	border: none;
	margin: 0;
	padding: 0;
}

/*
* Dot Flashing
*/
.stage {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 0.1rem 0;
	margin: 0 -5%;
	overflow: hidden;
}

.dot-flashing {
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #000000;
	color: #bababa;
	animation: dotFlashing 0.3s infinite linear alternate;
	animation-delay: .15s;
}

.dot-flashing::before, .dot-flashing::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
}

.dot-flashing::before {
	left: -16px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #000000;
	color: #bababa;
	animation: dotFlashing 0.3s infinite alternate;
	animation-delay: 0s;
}

.dot-flashing::after {
	left: 16px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #000000;
	color: #bababa;
	animation: dotFlashing 0.3s infinite alternate;
	animation-delay: 0.3s;
}

@keyframes dotFlashing {
	0% {
		background-color: #000000;
	}
	50%,
	100% {
		background-color: #bababa;
	}
}